
/*-- Default settings --*/
* {
background-color: black;
}

/*-- NAVBAR CSS --*/
.navbar {
    border-bottom: white 2px solid;
    overflow: hidden;
    transition: all .5s ease-in-out;

}
.navbarLogo {
    width: 30px;
    height:auto;
    cursor: pointer;
}
.navbar a {
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    float: left;
}
.navbar a:hover {
    color:#703020;
}
.navbar a:active {
    color: #703020;
}
.navbar .menuBars {
    display: none;
}

/*-- mobile specific nav bar attributes --*/
@media screen and (max-width: 600px) {
    * {
        margin: 5px;
    }
    .navbar a:not(:first-child) {
        display: none;
    }
    .navbarLogo {
        float: center;
        display: block;
    }
    /*-- JUST THE MENU BUTTON --*/
    .navbar .menuBars {
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        cursor: pointer;
        transition: all .5s ease-in-out;
    }
    .navbar .menuBars_burger {
        width:20px;
        height: 3px;
        background: white;
        border-radius: 5px;
        transition: all .5s ease-in-out;
    }

    .navbar .menuBars_burger::before,
    .navbar .menuBars_burger::after {
        content: "";
        position: absolute;
        width:20px;
        height: 3px;
        background: white;
        border-radius: 5px;
        transition: all .5s ease-in-out;
    }
    .navbar .menuBars_burger::before {
        transform: translateY(-8px);
    }
    .navbar .menuBars_burger::after {
        transform: translateY(8px);
    }

    /*-- Animation of button --*/
    .menuBars.open .menuBars_burger {
        background:transparent;
    }
    .menuBars.open .menuBars_burger::before {
        transform: rotate(45deg);
    }
    .menuBars.open .menuBars_burger::after {
        transform: rotate(-45deg);
    }
}
  
@media screen and (max-width: 600px) {
    .navbar.responsive {
        position: relative;
    }
    
    .navbar.responsive .menuBars {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}