/*-- Imports --*/
@import url(https://fonts.googleapis.com/css?family=Carattere);
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
/*-- Default settings --*/
* {
background-color: black;
font-family: Quicksand, sans-serif;
}

/*-- NAVBAR CSS --*/
.navbar-container {
    animation: fadeIn 0.5s;
    -webkit-animation: fadeIn 0.5s;
}

.navbar {
    font-family: Quicksand, sans-serif;
    border-bottom: white 2px solid;
    overflow: hidden;
    top:0;
    transition: 0.5s;
}
.navbarLogo {
    cursor: pointer;
}

.navbar a {
    color: white;
    text-decoration: none;
    display: flex;
    float: left;
}
.navbar a:hover {
    color:#703020;
}
.navbar a:active {
    color: #703020;
}
.navbar .menuBars {
    display: none;
}

/*-- Main body generic content --*/

.mainBody, .socialMedia {
    animation: fadeIn 0.5s;
    color: white;
}


/*-- mobile specific nav bar attributes --*/
@media screen and (max-width: 600px) {
    .navbar {
        padding: 5px;
        height: 50px;
        z-index: 1;
        top: 0;
    }
    .navbarLogo {
        width: 30px;
        height:30px;
        top:0;
        left:0;
    }
    .navbar #navbarA {
        position: absolute;
        display: flex;
        overflow: hidden;
        font-size: 24px;
        height: 0px;
        opacity: 0;
        top: 60px;
        flex-direction: column;
        transform-origin: top;
        transition: 0.5s;
    }

    /*-- JUST THE MENU BUTTON --*/
    .navbar .menuBars {
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        cursor: pointer;
        transition: all .5s ease-in-out;
    }
    .navbar .menuBars_burger {
        width:20px;
        height: 3px;
        background: white;
        border-radius: 5px;
        transition: all .5s ease-in-out;
    }

    .navbar .menuBars_burger::before,
    .navbar .menuBars_burger::after {
        content: "";
        position: absolute;
        width:20px;
        height: 3px;
        background: white;
        border-radius: 5px;
        transition: all .5s ease-in-out;
    }
    .navbar .menuBars_burger::before {
        transform: translateY(-8px);
    }
    .navbar .menuBars_burger::after {
        transform: translateY(8px);
    }

    /*-- Animation of button --*/
    .menuBars.open .menuBars_burger {
        background:transparent;
    }
    .menuBars.open .menuBars_burger::before {
        transform: rotate(45deg);
        background: #703020;
    }
    .menuBars.open .menuBars_burger::after {
        transform: rotate(-45deg);
        background: #703020;
    }



/*-- Mobile Main Body --*/
    .mainBody, .socialMedia {
        margin: 5px;
        display: flex;
        opacity:1;
        transition: 0.5s;
    }    
}

/*-- desktop specific nav bar attributes --*/
@media screen and (min-width: 601px) {
    .navbar {
        height: 50px;
        margin: 5px;
        transition: fadeIn 0.5s;
    }

    .navbarLogo {
        margin: 1vh 10vh 1vh 1vh;
        height: 30px;
        width: 30px;
    }

    #navbarA {
        flex-direction: row;
        margin: 1vh 0;
    }

    #navbarA a {
        margin: 0 1vh;
    }
}
/*TO DO, finish desktop nav alignment*/


/*-- animation timings --*/
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}